/* -------------------------------- 

File#: _1_choice-buttons
Title: Choice Buttons

-------------------------------- */

:root {
  --choice-btn-border-width: 2px;
  --choice-btn-border-radius: var(--radius-md);
  --choice-btn-align-items: center; // set vertical alignment between custom input and content [center, start, end]
  // custom input
  --choice-btn-input-size: 20px; // custom input size
  --choice-btn-input-icon-size: 16px; // icon size
  --choice-btn-input-border-width: 2px; // custom input border width
  --choice-btn-input-margin-right: var(
    --space-sm
  ); // gap between custom input and content
  --choice-btn-input-translate-y: 0em; // (optional) translate-y input to align it with the text
}

.choice-btns {
  display: flex;
  flex-direction: column;
}

.choice-btn__grid {
  display: none;
}

.js {
  .choice-btn__fallback {
    @include srHide; // visible only to screen readers
  }

  .choice-btn {
    position: relative;
    background-color: var(--color-bg);
    border-width: var(--choice-btn-border-width);
    border-style: solid;
    border-color: var(--color-contrast-low);
    border-radius: var(--choice-btn-border-radius);
    user-select: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      border-color: lightness(var(--color-contrast-low), 0.85);
    }

    &.choice-btn--focus,
    &.choice-btn--checked,
    &:active {
      border-color: var(--color-primary);
    }

    &.choice-btn--focus,
    &:active {
      box-shadow: 0 0 0 2px alpha(var(--color-primary), 0.2);
    }
  }

  .choice-btn__grid {
    display: block; // fallback
    display: grid;
    grid-template-columns: var(--choice-btn-input-size) 1fr;
    grid-gap: var(--choice-btn-input-margin-right);
    align-items: var(--choice-btn-align-items);
  }
}

// custom input
.choice-btn__input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  width: var(--choice-btn-input-size);
  height: var(--choice-btn-input-size);
  border-width: var(--choice-btn-input-border-width);
  border-style: solid;
  border-color: var(--color-contrast-low);
  position: relative;
  top: var(--choice-btn-input-translate-y);

  .icon {
    color: var(--color-white); // icon color
    font-size: var(--choice-btn-input-icon-size);
  }

  .choice-btn--checked & {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
}

.choice-btn__input--checkbox {
  border-radius: var(--radius-sm);

  .icon > * {
    transition: stroke-dashoffset 0.3s;
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
  }

  .choice-btn--checked & .icon > * {
    stroke-dasharray: 18;
    stroke-dashoffset: 0;
  }
}

.choice-btn__input--radio {
  border-radius: 50%;

  .icon {
    transition: transform 0.3s var(--ease-out-back);
    transform: scale(0);
  }

  .choice-btn--checked & .icon {
    transform: scale(1);
  }
}
