// --------------------------------

// Custom Style - your bespoke style

// --------------------------------

@import "custom/colors";
@import "custom/spacing";
@import "custom/shared-styles";
@import "custom/typography";
@import "custom/icons";
@import "custom/buttons";
@import "custom/forms";
@import "custom/util";

// Heart Beat
.beat {
  animation: beat 1s infinite alternate;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(1.25);
  }
}

// UpDown Arrow
.up-down {
  animation: up-down-move 1.2s linear infinite;
  position: absolute;
}

@keyframes up-down-move {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
